*,
html{
    margin: 0;
    padding: 0%;
}

body {
    background-color:black;
}

.nav {
    background-color:black;
    width: 100%;
    height: 100px;
}
.CONTENT{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul-nav{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.li-nav{

   
    list-style-type:none;
    padding:20px;
    color: #fff;

}
.img-content{
    width: 40%;
    height: 40%;
}
.h1{
    list-style-type:none;
    padding:20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}